<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

    <h1>Hi <%= @user.first_name %></h1>

    <p>Hello and welcome to Blog.com. You did not recieve this email on accident.</p>
    <p>We are what humans term 'martians'.</p>
    <p>We have selected you to be a messenger for us.</p>
    <p>we know you will try and tell people that this is happening, and thats fine.</p>
    <p>We also know that non of them are going to belive you. 00100111100110010010010011100011100110011001</p>
    <p>001100111000000011100101001001001</p>
    <p>talk to you soon!</p>

    -<=°°°=>-

</body>
</html>